/* Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    position: relative;
    background-color: #f5f5f5;
    height: 300vh;

}

p {
    font-size: 1.4rem;
}

h1 {
    font-size: 1.6rem;
    color: var(--heading-color);
    font-weight: 400;
}

h2 {
    font-size: 1rem;
}

a {
    font-size: 1.2rem;
}

.btn {
    display: block;
    max-width: 200px;
    padding: 0.5rem;
    font-size: 1.2;
    text-decoration: none;
    color: var(--white-color);
    font-weight: 300;
    border: 1px solid white;
    border-radius: 15px;
    text-align: center;
    transition: 0.2s linear;
}

.btn:hover {
    border: 1px solid #2ebfac;
    color: var(--heading-color);
}


:root {
    --bgc-color: #2ebfac;
    --heading-color: #3ed8c4;
    --content-color: #888888;
    --white-color: #fff;
}

/* Global */

/* navbar */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1.5rem;
    background-color: var(--bgc-color);
}

.navbar__primary-heading {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--white-color);
    letter-spacing: 5px;
    margin-left: 1rem;
    text-transform: uppercase;
}

.navbar__menu {
    display: flex;
    gap: 3.75rem;
    list-style: none;
    justify-content: space-between;
}

.navbar__menu-item {}

.navbar__menu-link {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.1rem;
    transition: 0.3s linear;
}

.navbar__menu-item:hover {
    scale: 1.1;
}

.navbar__hamburger {
    transition: 0.3s linear;
}

.hamburger__icon {
    display: block;
    position: absolute;
    width: 0px;
    top: 1rem;
    right: 1.2rem;
}

/* RWD */

@media (max-width: 680px) {

    .hamburger__icon {
        width: 50px;
    }

    .navbar__hamburger.active {}

    .navbar {
        flex-direction: column;
        align-items: start;
    }

    .navbar__menu {
        flex-direction: column;
        width: 100%;
        max-height: 0px;
        overflow-y: hidden;
        align-items: center;
        margin-top: 1rem;
        gap: 1.4rem;
        transition: 0.4s ease-in-out;
    }

    .navbar__menu.active {
        max-height: 250px;
    }

}

/* navbar */

.main {
    display: grid;
    justify-items: center;
}

.container {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 0.5fr;
    grid-template-rows: 30rem 5fr 5fr auto;
    grid-template-areas:
        "background background sidebar"
        "info info sidebar"
        "features features sidebar"
        "cards cards sidebar"
        "cards cards sidebar"
        "about about about";
    height: 120vh;
    margin: 3rem;
    max-width: 75rem;
    margin-top: 7rem;
}

/* BACKGROUND */

.main__background {
    grid-area: background;
    background-color: rgb(173, 173, 232);
    background-image: url(/images/slide01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 1px;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
}

.main__background__primary-heading {
    font-size: 2.5rem;
    font-weight: 500;
    color: var(--white-color);
}

.main__background__secondary-heading {
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 300;
    margin-top: 1rem;
}

.main__btn {
    margin: 2rem 0 0 0.5rem;
}

/* BACKGROUND */

/* INFO */

.main__info {
    grid-area: info;
    background-color: #fff;
    padding: 2rem 3rem;
    border-bottom: 0.5px solid rgb(174, 174, 174);
    border-right: 0.5px solid rgb(174, 174, 174);
}

.main__info__primary-heading {
    font-size: 2rem;
}

.main__info__primary-content {
    font-size: 1rem;
    font-weight: 300;
    margin-top: 1rem;
}

/* INFO */

/* FEATURES */

.main__fetaures {
    grid-area: features;
    background-color: green;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.main__features__box {
    display: flex;
    padding: 2rem 3rem;
    background-color: var(--white-color);
    align-items: start;
    border-bottom: 0.5px solid rgb(174, 174, 174);
    border-right: 0.5px solid rgb(174, 174, 174);
}

.main__features__icons {
    margin-bottom: 3rem;
}

.main__features__icon {
    text-align: center;
    font-size: 2rem;
    width: 60px;
    height: 60px;
    display: inline-block;
    border: 1px solid black;
    border-radius: 50%;
    text-align: center;
    padding-top: 12px;
}

.main__features__box-content {
    margin-left: 1.5rem;
}

.main__features__primary-heading {
    font-size: 1.3rem;
    color: var(--heading-color);
    font-weight: 500;
}

.main__features__primary-content {
    font-size: 1rem;
    font-weight: 300;
}

/* FEATURES */


/* CARDS */

.main__cards {
    grid-area: cards;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--white-color);
}

.main__card__box {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2rem 3rem;
    border-bottom: 0.1px solid rgb(174, 174, 174);
    border-right: 0.5px solid rgb(174, 174, 174);
}

.main__card__image {
    max-width: 250px;
    border-radius: 5px;
    transition: 0.3s linear;
    width: 100%;
}

.main__card__image:hover {
    scale: 1.05;
}

.main__card__primary-heading {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--heading-color);
    margin-top: 2rem;
    margin-left: 0.3rem;
}

.main__card__primary-content {
    font-size: 0.9rem;
    font-weight: 300;
    margin-top: 1.3rem;
    margin-left: 0.3rem;
    word-break: break-all;
}

.main__card-btn {
    color: black;
    border: 1px solid black;
    margin-top: 2rem;
    font-size: 0.9rem;
    margin-left: 0.5rem;
}

/* CARDS */

/* ABOUT */

.about {
    display: grid;
    grid-area: about;
    width: 158%;
    background-color: #fff;
    padding: 5rem;
}

.about__wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-content: center;
    justify-items: center;
    margin: 3rem 7rem;
}

.about__box__f {}

.about__primary__heading {}

.about__primary__content {
    font-size: 1.2rem;
    font-weight: 300;
    padding-top: 1rem;
}

.about__secondary__content {
    font-size: 1.2rem;
    font-weight: 300;
    padding-top: 1rem;
}

.about__btn {
    color: black;
    border: 1px solid black;
    margin-top: 2rem;
    font-size: 1.3rem;
    margin-left: 0.5rem;
}

.about__box__s-wrapper {}

.about__box__s {
    display: flex;
    align-items: center;
    padding: 1.5rem 0;

}

.about__box__s-images {}

.about__box__s-image {
    max-width: 150px;
    border-radius: 50%;
}

.about__box__s__content {
    display: flex;
    flex-direction: column;
    padding-left: 1rem;
    margin-top: 0.5rem;
}

.about__box__s-name {
    font-size: 1.2rem;
}

.about__box__s-bio {
    font-size: 1rem;
    font-weight: 300;
}

.about__box__t {}

.about__list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-top: 0.5rem;
}

.about__list-item {
    padding: 0.8rem 0.3rem;
    display: inline-block;
}

.about__list-icon {
    color: var(--content-color);
    border-radius: 50%;
    border: 1px solid black;
    width: 40px;
    height: 40px;
    padding: 10px;
    display: inline-block;
    margin-right: 0.5rem;
}

.about__list-link {
    text-decoration: none;
    color: var(--content-color);
    transition: 0.3s linear;
}

.about__list-link:hover {
    color: var(--bgc-color);
}

/* ABOUT */


/* SIDEBAR */


.main__sidebar {
    grid-area: sidebar;
    background-color: #fff
}

.main__sidebar__box {
    display: grid;
    grid-template-columns: 300px;
    padding: 1rem 3rem;
    justify-items: center;
}

.main__sidebar__box__primary-heading {
    margin-top: 1rem;
}

.main__sidebar__box__primary-content {
    font-size: 0.9rem;
    font-weight: 300;
    margin-top: 1rem;
}

.main__sidebar__wrapper-btn {
    color: black;
    border: 1px solid black;
    margin-top: 1rem;
    font-size: 0.9rem;
    margin-left: 0rem;
    max-width: 100px;
    max-height: 50px;
    display: flex;
    align-items: center;
}

.main__sidebar__image__box {}

.main__sidebar__image {
    max-width: 250px;
    border-radius: 2px;
    transition: 0.3s;
}

.main__sidebar__image:hover {
    scale: 1.05;
}

.main__image__sidebar__image-date {
    margin-top: 1rem;
    font-size: 0.8rem;
    font-weight: 300;
    color: var(--content-color);
}

.main__sidebar__box__list-links {}


.main__sidebar__box__list-item {
    display: flex;
    flex-direction: column;
    font-size: 0.7rem;
    font-weight: 300;
    color: var(--content-color);
    padding: 0.5rem;
}

.main__sidebar__box__list-link {
    font-size: 0.9rem;
    color: #000;
    text-decoration: none;
    font-weight: 400;
    margin: 1rem 0;
    transition: 0.3s linear;
    margin-right: 0.5rem;
}

.main__sidebar__box__list-link:hover {
    color: var(--heading-color);
}

/* SIDEBAR */

/* RWD */

@media (max-width: 1600px) {
    .about {
        width: 120%;
    }

    .about__primary__content {
        font-size: 1rem;
    }

    .about__secondary__content {
        font-size: 1rem;
    }

    .about__list-link {
        font-size: 0.9rem;
    }

    .about__box__s-bio {
        font-size: 0.8rem;
    }
}


@media (max-width: 1350px) {

    .container {
        grid-template-areas:
            "background background background"
            "info info info"
            "features features features"
            "cards cards cards"
            "cards cards cards"
            "sidebar sidebar sidebar"
            "about about about";
    }

    .main__sidebar {
        height: fit-content;
        margin: 0 auto;
    }

    .main__sidebar__box {
        display: grid;
        grid-template-columns: 100%;
        padding: 1rem 3rem;
        justify-items: center;
        text-align: center;
    }

    .main__sidebar__box__list-link {
        font-size: 1.1rem;
    }

    .about {
        width: 100%;
        margin-top: 0rem;
        padding: 0.5rem 1rem
    }

    .about__wrapper {
        grid-template-columns: repeat(1, 1fr);
        margin: 3rem 0rem;
        text-align: center;
    }

    .about__primary__heading {
        font-size: 2.5rem;
    }

    .about__primary__content {
        font-size: 1rem;
        padding: 1rem;
    }

    .about__secondary__content {
        font-size: 1rem;
        padding: 1rem;
    }

    .about__btn {
        font-size: 1.1rem;
        margin: 1rem auto;
    }

    .about__box__s {
        display: flex;
        flex-direction: column;
    }

    .about__box__s-image {
        width: 130px;
    }

    .about__box__s__content {
        flex-direction: column;
        padding: 0.5rem;
    }

    .about__box__s-name {
        font-size: 1.6rem;
    }

    .about__box__s-bio {
        padding-top: 0.4rem;
        font-size: 1.4rem;
    }

    .about__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        list-style: none;
        margin-top: 0.5rem;
    }

    .about__list-item {
        padding: 1rem;
        display: inline-block;
    }

    .about__list-icon {
        width: 70px;
        height: 70px;
        padding: 20px;
        margin-right: 0;
        font-size: 1.6rem;
    }

    .about__list-link {
        font-size: 1.2rem;
        display: block;
        margin-top: 1rem;
    }

        /* ABOUT */

        /* RWD */

}

@media (max-width: 720px) {
    .main__background__secondary-heading {
        font-size: 0.9rem;
    }

    .main__features__primary-heading {
        font-size: 1rem;
    }

    .main__features__primary-content {
        font-size: 0.8rem;
    }

    .main__card__primary-heading {
        font-size: 1rem;
    }

    .main__card__primary-content {
        font-size: 0.7rem;
    }

    .about__primary__heading {
        font-size: 1rem;
    }

    .about__primary__content {
        font-size: 0.9rem;
    }

    .about__secondary__content {
        font-size: 0.9rem;
    }

    .about__btn {
        font-size: 1rem;
    }


    .about__box__s-image {
        max-width: 130px;
    }


    .about__box__s-name {
        font-size: 1rem;
    }

    .about__box__s-bio {
        font-size: 0.9rem;
    }

    .about__list {
        grid-template-columns: repeat(1, 1fr);
    }


    .about__list-icon {
        width: 50px;
        height: 50px;
        padding: 15px;
        font-size: 1.2rem;
    }

    .about__list-link {
        font-size: 0.9rem;
        display: block;
        margin-top: 1rem;
    }


}

@media (max-width: 620px) {

    .main__background__primary-heading {
        font-size: 1.5rem;
    }

    .main__background__secondary-heading {
        font-size: 0.8rem;
    }

    .main__info__primary-heading {
        font-size: 1.4rem;
    }

    .main__info__primary-content {
        font-size: 0.9rem;
    }

    .main__fetaures {
        grid-template-columns: repeat(1, 100%);
    }

    .main__features__box {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 1rem 4rem;
        width: 100%;
    }

    .main__features__icons {
        margin-bottom: 1rem;
    }

    .main__features__box-content {
        margin-left: 0;
    }

    .main__cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .main__card__box {
        align-items: center;
        padding: 2rem 3rem;
        text-align: center;
    }


}



@media (max-width: 430px) {



    .main__info__primary-heading {
        font-size: 1.2rem;
        text-align: center;
    }

    .main__info__primary-content {
        font-size: 0.8rem;
        text-align: center;
    }

    .main__sidebar__box {
        grid-template-columns: 100%;
        padding: 1rem 2rem;
    }

    .main__sidebar__box__primary-heading {
        font-size: 1rem;
    }

    .main__sidebar__box__primary-content {
        font-size: 0.8rem;
    }

    .main__sidebar__image {
        max-width: 250px;
        border-radius: 2px;
        transition: 0.3s;
        width: 100%;
    }

    .main__sidebar__box__primary-content {
        font-size: 0.7rem;
    }

    .main__sidebar__box__list-item {
        font-size: 0.7rem;
    }

    .main__sidebar__box__list-link {
        font-size: 0.7rem;
        margin-right: 0rem;
    }

    .main__background__secondary-heading {
        font-size: 0.9rem;
    }

    .main__features__primary-heading {
        font-size: 1rem;
    }

    .main__features__primary-content {
        font-size: 0.8rem;
    }

    .main__card__primary-heading {
        font-size: 1rem;
    }

    .main__card__primary-content {
        font-size: 0.7rem;
    }

    .about__primary__heading {
        font-size: 1.4rem;
    }

    .about__primary__content {
        font-size: 0.7rem;
    }

    .about__secondary__content {
        font-size: 0.7rem;
    }

    .about__btn {
        font-size: 0.9rem;
        width: 90px;
        height: 50px;
        line-height: 15px;
    }


    .about__box__s-image {
        max-width: 100px;
    }


    .about__box__s-bio {
        font-size: 0.7rem;
    }

    .about__list-link {
        font-size: 0.8rem;
    }
}

/* RWD */